
@{
    ViewBag.Title = "OrtaOkul";
}
<style>
    img {
        width: 30px;
    }
</style>

<h2>OrtaOkul</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="Alternate Text" />
