USE [master]
GO
/****** Object:  Database [Bankalar]    Script Date: 5.04.2022 18:27:25 ******/
CREATE DATABASE [Bankalar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bankalar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bankalar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bankalar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bankalar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bankalar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bankalar]
GO
/****** Object:  Table [dbo].[Banka]    Script Date: 5.04.2022 18:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banka](
	[BankaNo] [int] NOT NULL,
	[BankaAdi] [varchar](50) NULL,
	[BankaSicilNo] [int] NULL,
 CONSTRAINT [PK_Banka] PRIMARY KEY CLUSTERED 
(
	[BankaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankaDurum]    Script Date: 5.04.2022 18:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankaDurum](
	[BankaNo] [int] NOT NULL,
	[BankaAciklama] [varchar](50) NULL,
	[FaaliyetAlani] [varchar](50) NULL,
	[Adres] [varchar](50) NULL,
	[Fax] [char](11) NULL,
	[Merkez] [varchar](50) NULL,
 CONSTRAINT [PK_BankaDurum] PRIMARY KEY CLUSTERED 
(
	[BankaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hesaplar]    Script Date: 5.04.2022 18:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesaplar](
	[HesapNo] [int] NOT NULL,
	[HesapAdi] [varchar](50) NULL,
	[HesapTip] [varchar](50) NULL,
	[HesapBakiye] [money] NULL,
	[BankaNo] [int] NULL,
	[MusteriNo] [int] NULL,
 CONSTRAINT [PK_Hesaplar] PRIMARY KEY CLUSTERED 
(
	[HesapNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 5.04.2022 18:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriNo] [int] NOT NULL,
	[AdSoyad] [varchar](50) NULL,
	[Yas] [int] NULL,
	[Adres] [varchar](50) NULL,
	[Telefon] [char](11) NULL,
	[Mail] [varchar](50) NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Banka] ([BankaNo], [BankaAdi], [BankaSicilNo]) VALUES (1, N'Ziraat Bankası', 1097)
INSERT [dbo].[Banka] ([BankaNo], [BankaAdi], [BankaSicilNo]) VALUES (12, N'Türkiye İŞ Bankası', 8797)
INSERT [dbo].[Banka] ([BankaNo], [BankaAdi], [BankaSicilNo]) VALUES (32, N'Halk Bankası', 225424)
GO
ALTER TABLE [dbo].[BankaDurum]  WITH CHECK ADD  CONSTRAINT [FK_BankaDurum_Banka] FOREIGN KEY([BankaNo])
REFERENCES [dbo].[Banka] ([BankaNo])
GO
ALTER TABLE [dbo].[BankaDurum] CHECK CONSTRAINT [FK_BankaDurum_Banka]
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD  CONSTRAINT [FK_Hesaplar_BankaDurum] FOREIGN KEY([BankaNo])
REFERENCES [dbo].[BankaDurum] ([BankaNo])
GO
ALTER TABLE [dbo].[Hesaplar] CHECK CONSTRAINT [FK_Hesaplar_BankaDurum]
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD  CONSTRAINT [FK_Hesaplar_Musteriler] FOREIGN KEY([MusteriNo])
REFERENCES [dbo].[Musteriler] ([MusteriNo])
GO
ALTER TABLE [dbo].[Hesaplar] CHECK CONSTRAINT [FK_Hesaplar_Musteriler]
GO
USE [master]
GO
