
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <h2>Home Page</h2>
        <hr /><br />
    </div>
<div class="container-fluid">
    <div class="row">
        @*
            lg: large
            md: laptop, desktop
            sm: table
            xs: phone
        *@
        <div class="col-md-4 col-sm-5 col-xs-12">
            <h2>
                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
            </h2>
            <p>
                Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
            </p>
            <hr />

        </div>

        <div class="col-md-4 col-sm-5 col-xs-12">
            <h2>
                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
            </h2>
            <p>
                Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
            </p>
            <hr />

        </div>


        <div class="col-md-4 col-sm-2 col-xs-12">
            <h2>
                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
            </h2>
            <p>
                Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
            </p>
            <hr />

        </div>
    </div>
</div>
</body>
</html>
